<html lang="en">
<%- include('./partials/head.ejs')%>
<body>

    <%- include('./partials/nav.ejs')  %>
    <div class="import content">
        <h2>THIS PAGE IS UNDER DEVELOPMENT.</h2>
        <h2>IMPORT PAGE</h2>
    </div>
    <%- include('./partials/footer.ejs')  %>
</body>
</html>