<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>False BLog</title>
</head>
<body>

    <% const name = 'fahmed' %>

    <nav>
        <div class="site-title">
            <p><%= name %></p>
            <a href="/"><h1>False Blog</h1></a>
            <p>A False blog Page</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about ">About</a></li>
            <li><a href="/blogs/create">New Blogs</a></li>
            <li><a href="/import">Import Page</a></li>
        </ul>
    </nav>
    <div class="blogs content">
        <h2>All Blogs</h2>
    </div>
    
</body>
</html>